In [93]:
import pandas as pd
data = pd.read_csv("assignment.csv")

In [94]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      101 non-null    int64
 1   IMBD title ID   100 non-null    object
 2   Original titlÊ  100 non-null    object
 3   Release year    100 non-null    object
 4   Genrë¨          100 non-null    object
 5   Duration        99 non-null     object
 6   Country         100 non-null    object
 7   Content Rating  77 non-null     object
 8   Director        100 non-null    object
 9   Unnamed: 8      0 non-null      float64
 10  Income          100 non-null    object
 11   Votes          100 non-null    object
 12  Score           100 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 10.4+ KB

       Unnamed: 0  Unnamed: 8
count  101.000000         0.0
mean    50.000000         NaN
std     29.300171         NaN
min      0.000000         NaN
25%     25.000000         NaN
50%     50.000000         NaN
75%     75.000000         NaN
max    100.000000         NaN

### To Do:
* Change column names
* The first column just repeats the index -> remove
* One row is completely empty -> remove
* Delete non english symbols in columns (at least I noticed Cyrillic characters there)
* Try to put all dates in the dd/mm/yyyy format
* Put all durations in minutes
* Bring order to the country column
* Blank cell, "non rated" and "unrated" is actually the same in rating column
* Drop "unnamed: 8" column
* Put votes to int
* Put income to float without dollar sign
* Put score to float

In [95]:
# droping "unnamed: 0" and "unnamed: 8" columns

del data['Unnamed: 0']
del data['Unnamed: 8']
data

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [96]:
# Changing weird column names

new_columns = [
    'imbd_id', 
    'title', 
    'release_year', 
    'genre', 
    'duration', 
    'country', 
    'content_rating', 
    'director', 
    'income', 
    'votes', 
    'score'
]

data.columns = new_columns
data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [97]:
# Remove empty row

data.dropna(how='all', inplace=True)
data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [98]:
# Remove symbols besides English characters, numbers and punctuation

import re
columns_to_clean = ['title', 'genre', 'director']
for col in columns_to_clean:
    data[col] = data[col].apply(lambda text: re.sub(r'[^\x00-\x7F]+', '', text))
data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in pi,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [99]:
# Clean date column

data['new_date'] = pd.to_datetime(data['release_year'], errors='coerce')
data

C:\Users\admin\AppData\Local\Temp\ipykernel_10820\297100264.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['new_date'] = pd.to_datetime(data['release_year'], errors='coerce')

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,1995-02-10
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,1972-09-21
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,2008-07-23
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",1975-09-25
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",1994-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,1974-03-21
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,1982-03-18
98,tt0059578,Per qualche dollaro in pi,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,1965-12-20
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,2011-10-21
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,1953-02-05

In [100]:
data[data.new_date.isna()]

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0,NaT
83,tt0086250,Scarface,1984-02-34,"Crime, Drama",170,USA,R,Brian De Palma,$ 66023585,721.343,7.8,NaT
84,tt0075314,Taxi Driver,1976-13-24,"Crime, Drama",114,USA,R,Martin Scorsese,$ 28441292,703.264,7.7,NaT

In [101]:
data.loc[70, 'release_year'] = '1951-03-06'
data['new_date'] = pd.to_datetime(data['release_year'], errors='coerce')
data[data.new_date.isna()]

C:\Users\admin\AppData\Local\Temp\ipykernel_10820\3055472307.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['new_date'] = pd.to_datetime(data['release_year'], errors='coerce')

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
83,tt0086250,Scarface,1984-02-34,"Crime, Drama",170,USA,R,Brian De Palma,$ 66023585,721.343,7.8,NaT
84,tt0075314,Taxi Driver,1976-13-24,"Crime, Drama",114,USA,R,Martin Scorsese,$ 28441292,703.264,7.7,NaT

In [102]:
# This two row have mistakes in dates, so we can remove it
data.dropna(subset=['new_date'], inplace=True)
data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,1995-02-10
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,1972-09-21
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,2008-07-23
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",1975-09-25
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",1994-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,1974-03-21
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,1982-03-18
98,tt0059578,Per qualche dollaro in pi,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,1965-12-20
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,2011-10-21
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,1953-02-05

In [103]:
# Lets change the date format
data['release_date'] = data['new_date'].dt.strftime('%d/%m/%Y')
del data['release_year']
del data['new_date']
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [104]:
# Duration
import numpy as np
data['duration'] = data['duration'].str.replace(r'\D', '', regex=True)
data['duration'] = data['duration'].replace('', np.nan)
data['duration'] = data['duration'].fillna(-1).astype(int) # Filling absent durations as -1
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [105]:
# Country

data['country'] = data['country'].str.replace(r'[^a-zA-Z ]', '', regex=True)
replacements = {'New Zeland': 'New Zealand', 'New Zesland': 'New Zealand', 'US': 'USA', 'US.': 'USA'}
data['country'] = data['country'].replace(replacements)
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [106]:
# Rating

replacements_rating = {'Approved': '', 'Not Rated': '', 'Unrated': '', np.nan: ''}
data['content_rating'] = data['content_rating'].replace(replacements_rating)
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [107]:
# Votes

data['votes'] = data['votes'].str.replace(r'\D', '', regex=True)
data['votes'] = data['votes'].replace('', np.nan)
data['votes'] = data['votes'].fillna(-1).astype(int)
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2241615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1780147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,$ 15000000,226039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,$ 1864182,213152,7.4,05/02/1953

In [108]:
# Income

data['income'] = data['income'].replace({'o': '0'})
data['income'] = data['income'].str.replace(r'\D', '', regex=True)
data['income'] = data['income'].replace('', np.nan)
data['income'] = data['income'].fillna(-1).astype('int64')
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,48035783,1098714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,222831817,1780147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,15000000,226039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,1864182,213152,7.4,05/02/1953

In [121]:
# Score

data['score'] = (data['score']
                 .str.replace(r'[,:]', '.', regex=True)
                 .str.lstrip('0')
                 .str.rstrip('.')
                 .str.replace(r'[^\d.]', '', regex=True)
                 .str.replace(r'\.{2,}', '.', regex=True)
                 .astype(float)
                )
data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,48035783,1098714,9.0,25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,222831817,1780147,8.9,28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,15000000,226039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,1864182,213152,7.4,05/02/1953